.bar {
    fill:mediumspringgreen;
}

.axis {
    font: 12px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
}

.x.axis path {
    display: none;
}

.barChange {
    fill: #fa0060
}

.label {
    fill: black;
    font: 24px sans-serif;
}



.legend {
    fill: none;
    stroke: black;

}

.infoText {
    font: 24px sans-serif;
}